<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='matrix.css') }}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='game.js') }}"></script>
</head>
<body>
<h1 id="game-name">{{ game_state.game_name }}</h1>
<div id="button-container" class="container">
    {% for game_tile in game_state.game_tiles.values() %}
        {% if loop.index0 is divisibleby(5) %}
            {% if loop.index0 != 0 %}
                </div>
            {% endif %}
            <div class="row no-gutters">
        {% endif %}

        <div class="col">
            <button id="button-{{ game_tile.word }}" class="btn btn-light btn-block rounded-0">
                <input type="hidden" id="button-{{ game_tile.word }}-input" name="word" value="{{ game_tile.word }}"/>
                {{ game_tile.word }}
            </button>
        </div>
    {% endfor %}
</div>
</body>
</html>